<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927331209183-2pa8a8llo1tsh3djpkceis5a8lc4jjh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927331209183-2pa8a8llo1tsh3djpkceis5a8lc4jjh5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927331209183-k3om73r8lrip8b5dadsio52nsob8jtf3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhJlAOgQHjiN2Ywb_n-Osj5opemGfU4bU</string>
	<key>GCM_SENDER_ID</key>
	<string>927331209183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techCare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>techcare-90149</string>
	<key>STORAGE_BUCKET</key>
	<string>techcare-90149.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927331209183:ios:e4f4d8097b6042988f3e6a</string>
</dict>
</plist>